.site-contact-invite {
  height: 38vh;
  background: url(../assets/img/site-contact-invite-background.jpg) center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include large {
    background: url(../assets/img/site-contact-invite-desktop-exported.png)
      center/cover;
  }
  &__btn {
    margin: 4rem auto 0 auto;
  }
}
.site-footer-copyright {
  z-index: 2;
  height: 2vh;
  background: black;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
}
